* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#links {
    border: 1px solid ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#links a {
    text-decoration: none;
    color: #111;
}

#links a:visited {
    color:#111;
}

#links a:hover {
    text-decoration: underline;
}

#links a:active {
    color: tomato;
}

